.news
  padding 50px 30px
  min-height calc(100vh - 230px)

.news__item
  border-radius 4px
  box-shadow 0px 1px 3px rgba(0,0,0,0.2)
  padding 15px
  max-width 500px
  margin 0 auto
  margin-bottom 15px

.news__h2
  font-weight bold
  font-size 20px
  color rgba(0,0,0,0.87)
  margin 0

.news__text
  font-weight normal
  font-size 14px
  color rgba(0,0,0,0.6)
  margin 16px 0

.news__data
  font-weight normal
  font-size 14px
  color #757575

.news__link
  text-transform uppercase
  display inline-block
  font-weight 500
  font-size 14px
  color rgba(0,0,0,0.6)
  text-decoration none
