<div>
  <h2>Как искать</h2>
  <div><h3>Простой поиск:</h3>
    Здесь можно ввести любой элемент книги (автора, заглавие, тему, издательство, серию и т.д.) или сочетание элементов.<h3>
    Расширенный поиск:</h3>
    <ul>
      <li>каждый элемент книги вписывается в определенное поле с различными условиями. Если не уверены в точности данных – выбирайте условие «Содержит». Для поиска при точном знании названия книги, издательства, серии используйте «Совпадает». Если вы помните только первое слово или не помните инициалов автора, используйте условие «Начинается»;</li>
      <li>результаты поиска могут быть отсортированы по автору, заглавию или хронологии;</li>
      <li>гиперссылки в описаниях (названия серий, издательств, тем, год издания) переводят на новые результаты.</li>
    </ul>
  </div>
</div>
