<ul class="main-menu">
  <li class="main-menu__li" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a class="main-menu__a" routerLink="/">О проекте</a>
  </li>
  <li class="main-menu__li" routerLinkActive="active">
    <a class="main-menu__a" routerLink="/search">Поиск</a>
  </li>
  <li class="main-menu__li" routerLinkActive="active">
    <a class="main-menu__a" routerLink="/contact">Обратная связь</a>
  </li>
  <!-- <li class="main-menu__li" routerLinkActive="active">
    <a class="main-menu__a" routerLink="/add">Добавить</a>
  </li> -->
  <li class="main-menu__li" routerLinkActive="active">
    <a class="main-menu__a" routerLink="/news">Новости</a>
  </li>
  <li class="main-menu__li" routerLinkActive="active" *ngIf="isViewPointMenu">
    <a class="main-menu__a" routerLink="/logs">Логи</a>
  </li>
  <li class="main-menu__li" routerLinkActive="active">
    <a class="main-menu__a" routerLink="/login"><mat-icon class="main-menu__icon">account_circle</mat-icon></a>
  </li>
</ul>
