.contact-form
  text-align center
  box-shadow 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
  padding 20px
  border-radius 8px
  width 500px
  background #fff
  &__field
    width 100%
  &__h2
    font-weight 300
    margin 0
    padding 0

.contact-wrapper
  min-height calc(100vh - 131px)
  display flex
  justify-content center
  align-items center
