<!-- <table border="1">
  <tr>
    <th>Название произведения</th>
    <th>Шифр рукописи</th>
    <th>Сведения о рукописи</th>
    <th>Заглавие</th>
    <th>Библиография</th>
   </tr>
  <tr *ngFor="let item of table">
    <td>{{item.name}}</td>
    <td>{{item.code}}</td>
    <td>{{item.manuscript}}</td>
    <td>{{item.info}}</td>
    <td>{{item.bibliography}}</td>
    <td> <button (click)="deleteRow(item._id)">delete</button> </td>
    <td> <button (click)="editRow(item._id)">edit</button> </td>
  </tr>

</table> -->

<!-- <button mat-raised-button color="primary" class="btn" (click)="displayAll()">Показать все</button> -->

<div class="main-wrapper-search">

  <form action="" #searchFormSimple="ngForm" class="search-simple-form">
    <h2 class="search-simple-form__h2">Поиск</h2>
    <mat-form-field class="width-100" hideRequiredMarker="true" class="authForm__field">
      <mat-label>Поисковый запрос</mat-label>
      <input matInput type="text" required [(ngModel)]="search" name="search" placeholder="Хронограф">
      <mat-error>Введите запрос</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="btn" type="submit" (click)="searchSimple()" [disabled]="searchFormSimple.invalid"> Искать </button>
    <button mat-button color="primary" class="btn" type="submit" (click)="clearSimple()"> Очистить </button>
    <button mat-button color="primary" class="btn" type="submit" (click)="hintSimple()"> <mat-icon>help</mat-icon> </button>

    <button mat-button color="primary" class="btn" type="submit" (click)="addRow()"> <mat-icon>add</mat-icon> </button>

    <div class="search-simple-form__extend"><button mat-button color="primary" class="btn btn-extend" type="submit" #btnExtend (click)="searcExtendOpen()"> Расширенный </button></div>
  </form>

  <form action="" #authForm="ngForm" class="search-extend-form" id="btn-extend">

    <mat-form-field class="width-100" hideRequiredMarker="true" class="authForm__field">
      <mat-label>Название произведения</mat-label>
      <input matInput type="text" required [(ngModel)]="searchName" name="searchName" placeholder="Хронограф">
    </mat-form-field>

    <mat-form-field class="width-100" hideRequiredMarker="true" class="authForm__field">
      <mat-label>Шифр</mat-label>
      <input matInput type="text" required [(ngModel)]="searchCode" name="searchCode" placeholder="Хронограф">
    </mat-form-field>

    <mat-form-field class="width-100" hideRequiredMarker="true" class="authForm__field">
      <mat-label>Сведения о рукописи</mat-label>
      <input matInput type="text" required [(ngModel)]="searchManuscript" name="searchManuscript" placeholder="Хронограф">
    </mat-form-field>

    <mat-form-field class="width-100" hideRequiredMarker="true" class="authForm__field">
      <mat-label>Заглавие</mat-label>
      <input matInput type="text" required [(ngModel)]="searchInfo" name="searchInfo" placeholder="Хронограф">
    </mat-form-field>

    <mat-form-field class="width-100" hideRequiredMarker="true" class="authForm__field">
      <mat-label>Библиография</mat-label>
      <input matInput type="text" required [(ngModel)]="searchBibliography" name="searchBibliography" placeholder="Хронограф">
    </mat-form-field>


    <div>
      <button mat-raised-button color="primary" class="btn" type="submit" (click)="searchExtend()"> Искать </button>
      <button mat-button color="primary" class="btn" type="submit" (click)="clearExtend()"> Очистить </button>
    </div>

  </form>


  <div class="result-info" *ngIf="countSimpleResult">
    По запросу <span class="result-info__world">{{search}}</span> найдено совпадений: {{countSimpleResult}}
  </div>

  <div class="result-info-extend" *ngIf="countResult">
    По запросу <span class="result-info-extend__world">{{searchName}} {{searchCode}} {{searchManuscript}} {{searchInfo}} {{searchBibliography}} </span> найдено совпадений: {{countResult}}
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Название произведения </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Шифр рукописи </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="manuscript">
        <th mat-header-cell *matHeaderCellDef> Сведения о рукописи </th>
        <td mat-cell *matCellDef="let element"> {{element.manuscript}} </td>
      </ng-container>

      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef> Заглавие </th>
        <td mat-cell *matCellDef="let element"> {{element.info}} </td>
      </ng-container>

      <ng-container matColumnDef="bibliography">
        <th mat-header-cell *matHeaderCellDef> Библиография </th>
        <td mat-cell *matCellDef="let element"> {{element.bibliography}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" class="default-text-4 edit">
          <div class="edit-icon" (click)="editRow(element._id)"><mat-icon>edit</mat-icon></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" class="default-text-4 delete">
          <div class="delete-icon" (click)="deleteRow(element._id)"><mat-icon>delete</mat-icon></div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator  (page)="pageChange($event)" [pageSizeOptions]="[20, 40, 60, 80,100]" showFirstLastButtons></mat-paginator>
  </div>

</div>
