table
  width 100%

.search-simple-form
  display flex
  align-items center
  &__h2
    margin-right 16px
    font-weight 400
  &__extend
    flex 1
    text-align right

.search-extend-form
  flex-direction column
  display flex
  align-items center
  margin-bottom 16px
  display none

.search-extend-form .mat-form-field
  min-width 100%

.search-simple-form .mat-form-field
  margin-right 16px
  min-width 350px

.main-wrapper-search
  padding 16px
  min-height calc(100vh - 60px - 103px)

.display
  display block

.mat-elevation-z8
  margin-top 16px

.result-info
  &__world
    color #904D71
    font-weight bold

.result-info-extend
  &__world
    color #904D71
    font-weight bold

table td.mat-cell
  width 20%

.delete-icon
  color #795548
  cursor pointer

.edit-icon
  color #795548
  cursor pointer

table tr:nth-child(even)
  background-color #e9e9e9

table tr
  transition all .3s ease

table tr:hover
  background-color #dedede
  cursor pointer

table td,
table th
  padding 20px
