<div class="main-wrapper__content">
  <div class="main-wrapper__title">
    В базе данных представлены материалы, посвященные памятникам древнерусской исторической книжности (летописям, хронографам, хроникам, историческим трактатам и повестям). В основу были положены сведения, зафиксированные в Картотеке древнерусской книжности Н. К. Никольского, хранящейся в настоящее время в Научно-исследовательском Отделе рукописей БАН. Настоящий электронный ресурс призван сформировать единый банк данных, освещающий полный спектр рукописных материалов, связанных с русской средневековой историографией, а также фиксировать последние изменения в данной сфере. В процессе работы база будет пополняться новыми сведениями.
  </div>
</div>
